@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;
    --font-primaria: 'Krona One', sans-serif;
    --font-secundaria: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    text-decoration: none;

}

.cabecalho {
    padding: 2% 0 0 15%;
    
}

.cabecalho_menu {
    display: flex;
    gap: 80px;
}

.cabecalho_menu_link {
    font-family: var(--font-secundaria);
    font-size: 24px;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao {
    margin: 5% 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.apresentacao_conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.apresentacao_titulo {
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
    color: var(--cor-secundaria);
}

.apresentacao_paragrafo {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
}

.rodape {
    padding: 24px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
}
